@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Saira:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-color: #3aa25e;
	--background-color: #c4e3cf;
	--lighter-background-color: #c4e3cfce;
	--link-hover-color: #349255;
	--copy-color: #061009;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Saira', sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--main-color);
	font-weight: 700;
}

a:hover {
	color: var(--link-hover-color);
}

p {
	font-size: 1rem;
}

h2 {
	font-weight: 700;
}

ul {
	list-style-type: disc;
	padding: 0.75em 0 0.75em 2em;
}

li {
	font-size: 1rem;
	line-height: 1.5rem;
}

mark {
	background-color: var(--lighter-background-color);
	color: var(--copy-color);
}
